@font-face {
    font-family: 'Nunito', sans-serif;
    font-display: swap;
    src: local('Nunito'), url(https://fonts.googleapis.com/css?family=Nunito:400,700);
}

html {
    font-family: 'Nunito', sans-serif;
    font-display: auto;
    color: #444444;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    color: deepskyblue;
}

hr {
    /* border: 0; */
    clear: both;
    display: block;
    width: 96%;
    background-color: #444444;
    height: 1px;
}


/* Containers */

.content {
    margin-top: 125px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column {
    float: left;
    width: 50%;
    background-color: white;
}

.topnav {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: white;
    overflow-x: hidden;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}


/* Rounded image */

.img-circle {
    border-radius: 50%;
    float: left;
}